annotated-doc
annotated-types
anyio
azure-ai-formrecognizer
azure-common
azure-core
bcrypt
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
distro
dnspython
ecdsa
email-validator
et_xmlfile
fastapi
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
idna
isodate
jiter
motor
msrest
numpy
oauthlib
openai
openpyxl
pandas
passlib[bcrypt]
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pymongo
pyparsing
PyPDF2
python-dateutil
python-dotenv
python-jose
python-multipart
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
six
sniffio
starlette
tiktoken
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
watchfiles
websockets
chromadb
