@tailwind base;
@tailwind components;
@tailwind utilities;
/* import 'antd/dist/reset.css'; */


/* to load font */
@font-face {
  font-family: "Creato Display";
  src: url("/src/assets/fonts/creato/CreatoDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Creato Display";
  src: url("/src/assets/fonts/creato/CreatoDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Creato Display";
  src: url("/src/assets/fonts/creato/CreatoDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* Disable body scroll */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Custom scrollbar for main content only */
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1890ff;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #40a9ff;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #1890ff transparent;
}

/* Global styles */
body {
  /* ✅ SET DEFAULT FONT */
  font-family: "Jura", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
  /* A slightly softer background color */
}

/* Use Poppins for all headings for a modern look */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jura", sans-serif;
}

code {
  font-family: "Jura", sans-serif;
}

:where(.css-dev-only-do-not-override-11mmrso).ant-layout-header {
  background-color: #fff !important;
}

/*  Auth page background */
.auth-background {
  min-height: 100vh;
  width: 100%;
  /* Assumes your image is named 'background.png' in the public folder */
  background-image: url("/auth_page_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* Ensure pagination dropdown has pointer cursor */
.ant-pagination-options .ant-select-selector {
  cursor: pointer !important;
}